<include href="includes/head.html" />
<!--BOILER-PLATE INCLUDE-->

<body>
<include href="includes/navbar.html" />
<!--ADD GENERAL NAVBAR-->

<div class="container">
    <br>
    <br>
    <br>
    <br>
    <label for="treeid" class="col-sm-2 control-label">Tree ID</label>
    <div class="col-sm-4">
        <input class="form-control" type="text" name="treeid" id="treeid">
    </div>

    <label for="genusid" class="col-sm-2 control-label">Genus ID</label>
    <div class="col-sm-4">
        <input class="form-control" type="text" name="genusid" id="genusid">
    </div>

    <label for="species" class="col-sm-2 control-label">Species</label>
    <div class="col-sm-4">
        <input class="form-control" type="text" name="species" id="species">
    </div>

    <label for="sciname" class="col-sm-2 control-label">Scientific Name</label>
    <div class="col-sm-4">
        <input class="form-control" type="text" name="sciname" id="sciname">
    </div>

    <label for="avgheight" class="col-sm-2 control-label">Average Height</label>
    <div class="col-sm-4">
        <input class="form-control" type="text" name="avgheight" id="avgheight">
    </div>

    <label for="avgwidth" class="col-sm-2 control-label">Average Width</label>
    <div class="col-sm-4">
        <input class="form-control" type="text" name="avgwidth" id="avgwidth">
    </div>

    <label for="ph" class="col-sm-2 control-label">Ph</label>
    <div class="col-sm-4">
        <input class="form-control" type="text" name="ph" id="ph">
    </div>

    <label for="toxicity" class="col-sm-2 control-label">Toxicity</label>
    <div class="col-sm-4">
        <input class="form-control" type="text" name="toxicity" id="toxicity">
    </div>

    <label for="soilmoisture" class="col-sm-2 control-label">Soil Moisture</label>
    <div class="col-sm-4">
        <input class="form-control" type="text" name="soilmoisture" id="soilmoisture">
    </div>

    <label for="sunlight" class="col-sm-2 control-label">Sunlight</label>
    <div class="col-sm-4">
        <input class="form-control" type="text" name="sunlight" id="sunlight">
    </div>
</div>

<include href="includes/footer.html" />

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>