<include href="includes/head.html" />

<body>
<div class="container-lg ml-5 mr-5 border">

    <nav class="navbar navbar-expand-lg fixed-top navbar-dark nav-color rounded" id="navibar">
        <div class="container-fluid">
            <button class="navbar-toggler collapsed" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" data-toggle="collapse" data-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-nowrap" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <h1 class="text-dark">Woodland Wiki</h1>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="#">Browse</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="#">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="#">Favorites</a>
                    </li>
                </ul>

                <div class="input-group d-block">
                    <form method="get" action="#"> <!--GOES TO TREE PAGE-->
                        <input type="text" name="search" placeholder="Search Encyclopedia" style="width: 80%; height: 35px;">
                        <input class="btn btn-primary d-inline" type="submit" value="Search" style="height: 100%;">
                    </form>
                </div>
            </div> <!--END NAVBAR COLLAPSE-->
        </div> <!--END CONTAINER FLUID-->
    </nav>
</div>

<!--END NAV AREA-->

<div class="jumbotron bg-white">
    <div class="text-center row">
        <div class="col-12">
            <p>An encyclopedia for trees</p>
        </div>
    </div>
</div> <!--END JUMBOTRON-->

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>