<include href="views/includes/head.html" />
<body>

<div class="container-lg ml-5 mr-5 border">
    <h1>Garden Tree Encyclopedia</h1>
    <nav>
        <ul>
            <li class="navbar navbar-expand-lg navbar-light bg-light">Example</li>
        </ul>
    </nav>

    <input type="text" placeholder="Search">
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>