<!--
  This file contains the markup for the home page
  Authors: Jake Donaldson & Aubrey Davies
  File: home.html
  Date: 6/15/2021
-->

<include href="includes/head.html" />
<!--BOILER-PLATE INCLUDE-->

<body>
<include href="includes/navbar.html" />
<!--ADD GENERAL NAVBAR-->

<div class="jumbotron bg-white backdrop-img">
    <img src="images/woodland-wiki.png" class="img-fluid" alt="logo" style="width:256px;height:256px;"> <br>
    <div class="text-center row">
        <div class="col-12">
            <span class="text-light">
                <h3>
                   A dendrology encyclopedia
                </h3>
            </span>
        </div>
    </div>
</div> <!--END JUMBOTRON-->

<include href="includes/footer.html" />

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>