<include href="includes/head.html" />
<!--BOILER-PLATE INCLUDE-->

<body>
<include href="includes/navbar.html" />
<!--ADD GENERAL NAVBAR-->

<div class="container">
    <form>
        <br>
        <br>
        <br>
        <br>
        <!-- get username -->
        <div class="form-group">
            <label for="username" class="col-sm-4 control-label text-light">Your username: </label>

            <div class="col-sm-4 control-label">
                <input class="form-control" type="text" name="username" id="username" value="{{ @userName }}">
            </div>

            <!-- display an error message if there is one -->
            <check if="{{ isset(@errors['username']) }}">
                <span class="err">{{ @errors['username'] }}</span>
            </check>
        </div>
        <br>

        <!-- get password -->
        <div class="form-group">
            <label for="password" class="col-sm-4 control-label text-light">Your password: </label>

            <div class="col-sm-4 control-label">
                <input class="form-control" type="text" name="password" id="password" value="{{ @userPassword }}">
            </div>

            <!-- display an error message if there is one -->
            <check if="{{ isset(@errors['password']) }}">
                <span class="err">{{ @errors['password'] }}</span>
            </check>
        </div>
        <br><br>

        <button type="submit" class="loginButton rounded btn btn-primary">Login</button>
        <br>
    </form>
</div>

<include href="includes/footer.html" />

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>