<include href="includes/head.html" />
<!--BOILER-PLATE INCLUDE-->

<body>
<include href="includes/navbar.html" />
<!--ADD GENERAL NAVBAR-->

<div class="jumbotron bg-white backdrop-img mt-1">
    <div class="text-center row">
        <div class="col-12">
            <!--BEGIN FORM-->
            <form name="signupForm" action="#" onsubmit="return validateForm()" method="post" class="form-horizontal bg-white mb-5 rounded">
                <div class="form-group">
                    <h2>Signup</h2>

                    <div>
                        <img src="images/woodland-wiki-green.png" class="img-fluid float-right" alt="logo" style="width:256px;height:256px;"> <br>
                    </div>

                    <div class="row">
                        <label for="fname" class="float-left col-sm-2 control-label">User First Name</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" name="fname" id="fname" value="{{ @SESSION.fname }}" >

                            <span class="err" id="err-fname">
                                Please enter a first name
                            </span>

                            <!-- display an error message for fname if there is one -->
                            <check if="{{ isset(@errors['fname']) }}">
                                <span class="err">{{ @errors['fname'] }}</span>
                            </check>
                        </div>

                        <label for="lname" class="float-left col-sm-2 control-label">User Last Name</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" name="lname" id="lname" value="{{ @SESSION.lname }}" >

                            <span class="err" id="err-lname">
                                Please enter a last name
                            </span>

                            <!-- display an error message for lname if there is one -->
                            <check if="{{ isset(@errors['lname']) }}">
                                <span class="err">{{ @errors['lname'] }}</span>
                            </check>
                        </div>

                        <label for="username" class="float-left col-sm-2 control-label">Desired Username</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" name="username" id="username" value="{{ @SESSION.username }}" >

                            <span class="err" id="err-username">
                                Please enter a username
                            </span>

                            <!-- display an error message for username if there is one -->
                            <check if="{{ isset(@errors['username']) }}">
                                <span class="err">{{ @errors['username'] }}</span>
                            </check>
                        </div>

                        <label for="password" class="float-left col-sm-2 control-label">Desired Password</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" name="password" id="password" value="{{ @SESSION.password }}" >

                            <span class="err" id="err-password">
                                Please enter a password
                            </span>

                            <!-- display an error message for password if there is one -->
                            <check if="{{ isset(@errors['password']) }}">
                                <span class="err">{{ @errors['password'] }}</span>
                            </check>
                        </div>

                        <label for="repassword" class="float-left col-sm-2 control-label">Retype Password</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" name="repassword" id="repassword">

                            <!-- display an error message for repassword if there is one -->
                            <check if="{{ isset(@errors['repassword']) }}">
                                <span class="err">{{ @errors['repassword'] }}</span>
                            </check>
                        </div>

                        <label for="favtree" class="float-left col-sm-2 control-label">Your Favorite Tree</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" name="favtree" id="favtree" value="{{ @SESSION.favtree }}">

                            <!-- display an error message for favtree if there is one -->
                            <check if="{{ isset(@errors['favtree']) }}">
                                <span class="err">{{ @errors['favtree'] }}</span>
                            </check>
                        </div>

                        <div class="col-sm-4">
                        <h4>Premium User</h4>
                        <label><input type="checkbox"
                                      name="optin"
                                      value="premiumacct">Become a Premium User!</label>
                        </div>
                    </div>
                </div>
                <br>

                <!--SUBMIT BUTTON-->
                <div class="col-xs-3 ">
                    <input class="form-control btn btn-primary"
                           type="submit" value="Submit">
                </div>

            </form>
            <!--END FORM-->
        </div>
    </div>
</div> <!--END JUMBOTRON-->

<br>
<br>

<include href="includes/footer.html" />

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="../scripts/script.js"></script>
</body>
</html>