<include href="includes/head.html" />
<!--BOILER-PLATE INCLUDE-->

<body>
<include href="includes/navbar.html" />
<!--ADD GENERAL NAVBAR-->

<div class="jumbotron bg-white backdrop-img mt-1">
    <div class="text-center row">
        <div class="col-12 bg-white">

            <h1>DATABASE INFORMATION GOES HERE</h1>

        </div>
    </div>
</div>

<include href="includes/footer.html" />

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>